:root {
    font-size: 62.5%;
    --font-size-sm: 0.8rem;
    --font-size-md: 1.6rem;
    --font-size-lg: 2.0rem;
    --font-size-xl: 3.0rem;
    --font-size-xxl: 4.0rem;

    --navbar-height: 65px;
    --navbar-bg: rgb(58, 58, 58);
}

html, body {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: var(--font-size-xxl);
}

h3 {
    font-size: var(--font-size-md);
}

#intro-bg {
    width: 100%;
    height: calc(100% - var(--navbar-height));
    position: relative;
    overflow: hidden;
    z-index: -1;
}

#intro-bg-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 28, 58);
    opacity: 0.6;
    user-select: none;
}

#intro-bg-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
    z-index: -2;
    position: fixed;
    filter: blur(6px);
    user-select: none;
}

#intro-bg span {
    color: white;
    position: absolute;
    top: 50%;
    left: calc(50% - 340px);
    text-align: center;
    font-size: 8.0rem;
    text-shadow: 0px 0px 3px black;
    user-select: none;
}

#about-me {
    background-color: white;
    overflow: hidden;
    padding: 10px 120px;
}

@media screen and (max-width: 720px){
    #intro-bg span {
        left: 0px;
        font-size: 6.0rem;
        padding: 50px;
    }
}