:root {
    font-size: 62.5%;
    --font-size-sm: 0.8rem;
    --font-size-sm-md: 1.2rem;
    --font-size-md: 1.6rem;
    --font-size-lg: 2.0rem;
    --font-size-xl: 3.0rem;
    --font-size-xxl: 4.0rem;

    --navbar-height: 65px;
    --navbar-bg: rgb(58, 58, 58);

    --project-width: 450px;
    --project-image-height: 300px;
    --project-image-height-padding: 10px;
    --project-description-height: 250px;

    --html-color: rgb(216, 48, 48);
    --css-color: rgb(98, 155, 230);
    --javascript-color: rgb(248, 124, 22);
    --csharp-color: rgb(22, 50, 175);
    --python-color: rgb(108, 190, 15);
    --java-color: rgb(219, 28, 133)
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-size: var(--font-size-md);
}

section {
    background-color: white;
    font-size: var(--font-size-lg);
}

article {
    padding: 20px 130px;
}

h1 {
    font-size: var(--font-size-xxl);
}

h3 {
    font-size: var(--font-size-md);
}

#about-me article {
    display: flex;
    flex-wrap: wrap;
}

#about-me article img {
    width: 200px;
    margin: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px black;
}

#about-me article > div {
    min-width: 220px;
}

#project-group-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 120px;
    justify-content: center;
    gap: 10px 30px;
}

#project-group-container .project {
    width: var(--project-width);
    overflow: hidden;
    box-sizing: border-box;
}

.project .image-list {
    width: 100%;
    overflow: hidden;
    margin: var(--project-image-height-padding) 0px;
}

.project .image-list > div {
    width: 100%;
    height: var(--project-image-height);
    box-sizing: border-box;
    position: relative;
}

.project .image-list img {
    width: 97%;
    height: 97%;
    object-position: center;
    object-fit: fill;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project .info-list {
    width: 100%;
    font-size: var(--font-size-md);
    position: relative;
}

.project .info-list .title{
    text-align: center;
    margin: 10px 0px 18px;
    font-weight: bold;
}

.project .info-list .tags{
    margin: 15px 0px;
}

.project .info-list .description {
    box-shadow: 0px 0px 1px black;
    padding: 10px;
    margin: 3px;
    line-height: 150%;
    height: var(--project-description-height);
    overflow: auto;
}

.project .info-list .link a {
    color: inherit;
}

.tag {
    box-shadow: 0px 0px 1px black;
    border-radius: 10px;
    padding: 4px 8px;
    margin: 3px;
    text-shadow: 0px 0px 0px black;
}

.tag.html {
    color: var(--html-color);
    background-color: var(--html-color);
    box-shadow: 0px 0px 1px var(--html-color);
}

.tag.css {
    color: var(--css-color);
    background-color: var(--css-color);
    box-shadow: 0px 0px 1px var(--css-color);
}

.tag.javascript {
    color: var(--javascript-color);
    background-color: var(--javascript-color);
    box-shadow: 0px 0px 1px var(--javascript-color);
}

.tag.csharp {
    color: var(--csharp-color);
    background-color: var(--csharp-color);
    box-shadow: 0px 0px 1px var(--csharp-color);
}

.tag.python {
    color: var(--python-color);
    background-color: var(--python-color);
    box-shadow: 0px 0px 1px var(--python-color);
}

.tag.java {
    color: var(--java-color);
    background-color: var(--java-color);
    box-shadow: 0px 0px 1px var(--java-color);
}

#project-filter {
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 1px;
    align-items: center;
    box-shadow: 0px 0px 1px black;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
}

#project-filter .tag {
    user-select: none;
}

#project-filter .tag:hover {
    cursor: pointer;
}

.tag.unselected {
    background-color: white !important;
}

.tag.selected {
    color: white !important;
}

/* Google icon settings. */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24;
    font-size: 50px !important;
    vertical-align: middle !important;
}

@media screen and (max-width: 768px){
    #about-me article > div {
        width: 100%;
    }

    #about-me article img {
        margin: 50px auto;
    }

    .parallax span.caption {
        font-size: 3.0rem !important;
    }

    .parallax span.caption-lg {
        font-size: 8.0rem !important;
    }
}

@media screen and (max-width: 1024px){
    article, #project-group-container {
        padding: 20px 20px;
    }
}